<div *ngIf="dataLoaded==false" class="spinner-border text-success" role="status">
    <span class="visually-hidden">Loading...</span>
</div>

<table *ngIf="dataLoaded==true"  class="table table-success table-striped">
    <thead>
        <tr>
             <th style="text-align: center;"   colspan="5">  Kiralama Listesi</th>
        </tr>
        <tr>
             <th> Id</th>
            <th>Marka Adı</th>
            <th>Müşteri AdıSoyadı</th>
            <th>Kiralama Tarihi</th>
            <th>Araç Teslim Tarihi</th>
          

        </tr>
    </thead>

    <tbody>

        <tr *ngFor="let rental of rentals" >
            <td>{{rental.id}}</td>
            <td>{{rental.brandName}}</td>
            <td>{{rental.customerName}}</td>
            <td>{{rental.rentDate}}</td>
            <td>{{rental.returnDate}}</td>
        </tr>
    </tbody>
</table>